<div>
   <h2 class="outline">Let's fly together!</h2>
 </div>
<mat-card>
   <form [formGroup]="flightForm" (ngSubmit)="onSubmit(flightForm.value)">
      <mat-radio-group aria-label="Select an option" formControlName="journey">
         <mat-radio-button value="oneWay" (change)="checkIfOneWay($event)">One Way Ticket</mat-radio-button>
         <mat-radio-button value="twoWays" (change)="checkIfOneWay($event)">Two Way Tickets</mat-radio-button>
       </mat-radio-group>
       <div *ngIf="isSingleTicket">
         <label>Departure Date</label>
         <div>
          <input formControlName="departureDate" type="date" min="{{ today }}">
         </div>
       </div>
       <div *ngIf="!isSingleTicket">
         <label>Departure Date</label>
         <div>
          <input formControlName="departureDate" type="date" min="{{ today }}">
         </div>
         <label>Return Date</label>
         <div>
          <input formControlName="returnDate" type="date">
         </div>
      </div>
      <div>
        <label >Departure City </label>
        <select formControlName="originCity">
        <option *ngFor="let city of cities">{{city}}</option>
        </select>
      </div>
      <div>
        <label >Return City </label>
        <select formControlName="destinationCity">
        <option *ngFor="let city of cities">{{city}}</option>
        </select>
      </div>
      <div>
        <mat-form-field >
          <mat-label>Passengers</mat-label>
          <input formControlName="passengers" matInput placeholder="1"  min="1" max="8" type="number">
        </mat-form-field>
      </div>   
      <button mat-fab color="accent" (click)="loginPopup()"><mat-icon>flight</mat-icon></button>
   </form>
</mat-card>