<mat-card>
   <mat-card-title>Flight Details</mat-card-title>
   <div *ngIf="flightInfo">
      <p>Departure Date:</p>
      <p> {{ flightInfo.departureDate | myDateFormat }}</p>
      <p *ngIf="flightInfo.returnDate !== undefined">Return Date:</p>
      <p *ngIf="flightInfo.returnDate !== undefined"> {{ flightInfo.returnDate | myDateFormat}}</p>
      <p>Origin City:</p>
      <p> {{ flightInfo.originCity }}</p>
      <p>Destination City:</p>
      <p> {{ flightInfo.destinationCity }}</p>
      <p>Number of passengers:</p>
      <p> {{ flightInfo.passengers }}</p>
   </div>
</mat-card>



