<div class="form">
   <div class="header"> 
      <button mat-button mat-dialog-close><span class="material-icons">undo</span></button>
   </div>
   <h2 mat-dialog-title>Login</h2>
   <div mat-dialog-content>
      <form (ngSubmit)="login()" name="loginForm" [formGroup]="loginForm">
         <div>
            <mat-form-field class="full-width" apperance="outline">
               <mat-label>Name</mat-label>
               <input formControlName="name" matInput required/>
               <mat-error *ngIf="loginForm.get('name')?.errors?.required">
                  Name required 
               </mat-error>
            </mat-form-field>
         </div>
         <div>
            <mat-form-field class="full-width" apperance="outline">
               <mat-label>Password</mat-label>
               <input formControlName="password" matInput required type="password"/>
               <mat-error *ngIf="loginForm.get('password')?.errors?.required">
                  Password required
               </mat-error>
            </mat-form-field>
         </div>
         <mat-error *ngIf="loginForm.touched && loginForm.controls.name.touched && loginForm.controls.password.touched && auth.error">No matching user found</mat-error>
         <div class="button">
            <button mat-flat-button color="primary"><span class="material-icons">
               send
               </span>
               </button>
         </div>
      </form>   
   </div> 
</div>
